* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Edu AU VIC WA NT Hand";
    font-optical-sizing: auto;

    background-color: white;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.header{
    height: 7vh;
    font-size: 2rem;
}
.date{
    width: 100%;
    height: 7vh;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    margin: auto;
}
.dateitem{
    
    height: 7vh;
    width: 10vw;

}


.student{
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 80vh;
    width: 60vw;

}
.studentitem{
    border: 1px solid black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}
.name{
    height: 7vh;
    font-size: 1.2rem;
}
.id{
    height: 7vh;
    font-size: 1.2rem;

}
.attendence{
    height: 7vh;
    font-size: 1.2rem;

}
.submitbtn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    height: 3.4em;
    width: 11em;
    background-color: transparent;
    font-size: 1rem;
    background-color: black;
    color: whitesmoke;
    transition: all .3s;
}