* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Gupter", serif;


}

body {
    min-height: 100vh;
    background-color: #232323;
}

.header {
    display: flex;
    justify-content: center;
    height: 8vh;
    font-size: 2rem;
    color: white;
    background-color: #232323;
    
}

.header1 {

    height: 3vh;
    font-size: 1.7rem;
    margin-left: 9em;
    color: white;
    background-color: #232323;
}

.section {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.logo {
    background-color: #383838;
    height: 6em;
    display: flex;
    justify-content: center;
}

.logoimg {
    background-color: #383838;
    height: 100%;
    width: 7em;
}

.side-navigation {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    width: 17vw;
    min-height: 100%;
    position: fixed;

}

.nextpage {
    font-size: 1.1rem;
    height: 3em;
    width: 16em;
    background-color: #383838;
    color: white;
}

.div {
    background-color: #383838;
    color: white;
    margin: 1em;
    font-size: 1.5rem;
}

.student-details {
    display: flex;
    flex-direction: column;
    margin-left: 14em;

    background-color: #232323;
    min-height: 100%;
    width: 90%;

    overflow: scroll;

}

.student {
    background-color: #232323;

    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 80%;
    width: 44%;

}

.studentitem {
    background-color: #383838;

    margin: .5em;
    border: 1px solid black;
    height: 8vh;

    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.name {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    background-color: #383838;



}

.id {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    background-color: #383838;



}

.attendence {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    background-color: #383838;


}

.inputcheckbox {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    background-color: #0052b4;
    height: 2rem;
    width: 2rem;
    accent-color: #0052b4;

}